* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    margin-block: 10px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-block: 10px 30px;

    input,
    button {
      padding: 5px 10px;
      border: 2px solid black;
      border-radius: 10px;
      outline: none;
      font-size: 20px;
    }
  }

  .all-tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;

    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20vw;
      font-size: 20px;
      button {
        font-size: 15px;
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 10px;
        outline: none;
      }
    }
  }
}
